* {
  margin:0;
  padding:0;
}

body {
  background-image: url("https://images.all-free-download.com/images/graphiclarge/paper_floral_seamless_pattern_vector_582787.jpg");

}


.pictures {
  width:40%;
}
